* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --accent: #7738EC; 
    --background-primary: #111111;
    --background-secondary: #27242D; 
}

body {
    background-color: #111111;
    font-family: "Source Sans Pro";
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2000px;
}

.tab {
        tab-size: 4;
}

.navbar {
    position: fixed;
    top: 25px; 
}

.navbar ul {
    display: flex; 
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px #000;
    padding: 2px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.navbar ul li {
    list-style: none;
    padding: 25px 15px; 
}

.bg-accent {
    background-color: var(--accent)
}

.navbar ul li i {
    color: white; 
}

.navbar ul li a {
    text-decoration: none;
    color: white; 
    margin: 0px 5px;
}

.intro {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100vw;
}

.visual {
    padding: 25px; 
    display: flex;
    justify-content: center;
    width: 100%;    
}

.headings {
    margin-top: 100px;
    max-width: 60vw;
    background-image: linear-gradient(45deg, var(--background-secondary), var(--background-primary));
    height: 100%;
    padding: 0px 50px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}
.headings h2 {
    color: white; 
    font-weight: 400;
    margin-top: 15px;
}
.headings bio {
    color: white; 
    font-size:36px
}

.headings h1 {
    color: white; 
    font-size: clamp(25px, 6.5vw, 95px);
}
.headings h3 {
    color: white; 
    font-size: clamp(15px, 6.5vw, 30px);
}

.headings h4 {
    margin-top: 20px;
    color: white; 
    font-size: clamp(15px, 6.5vw, 15pxpx);
}

.socials {
    margin-top: 25px; 
    width: 100%;
    padding: 10px 0px; 
    display: flex;
    gap: 25px
}

.socials i {
    transition: all 250ms ease;
    color: white; 
    font-size: 35px;
}

.socials a:hover i {
    color: var(--accent); 
}

@media all and (max-width: 850px) {
    .intro {
        margin-top: 100px;
        flex-direction: column;
    }

    .visual img {
        max-width: 500px;   
    }

    .headings {
        max-width: initial;
    }
}

@media all and (max-width: 500px) {
    .headings {
        padding: 0px 15px; 
    }

    .visual img {
        max-width: calc(100vw - 25px); 
    }

    .headings h1 {
        font-size: 35px;
    }
    .headings h2 {
        font-size: 20px;
    }
}
